.keep-header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    border: 3px forestgreen solid;
    border-radius: 5px;
    margin-left: 14%;
    margin-right: 14%;
    background-color: #c3841f3b;
    color: rgb(62, 155, 62);
    -webkit-text-stroke: 4px;
}

.kb-list {

    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 150px;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #c3841f3b;
    padding-left: 0;

    .kb-list-item-img{
        border: 1px solid rgb(0, 0, 0);
        padding: 6px;
        padding-bottom: 5px;
        margin-top: 12px;
        margin-bottom: 10px;
        background-color: #c3841f70;

    }

    .kb-list-item-img:hover{
        transition: 0.15s;
        background-color: #d89221d8;
    }

    .kb-list-item-title {
        overflow-y: auto;
        max-height: 21px;
        max-width: 200px;
        color: rgb(175, 122, 23);
        text-align: center;
        border: rgba(136, 91, 8, 0) 1px solid;
    }
    .kb-list-item-title:hover {
        transition: 0.25s;
        color: rgb(136, 91, 8);
        border: rgb(136, 91, 8) 1px solid;
        background-color: #c3841f3b;
    }

    .kb-link{
     text-decoration: none;  
    }
}