.bp-whole{

    /* position: absolute; */

    .bp-top {

        padding-top: 5%;

        .bp-floor{
            margin-bottom: 30px;
            margin-right: 94.5rem;
            font-weight: 900;
            letter-spacing: 5px;
            padding-left: 7.3rem;
            padding-top: 7px;
            padding-bottom: 7px;
            border: 3px solid rgb(25, 117, 25);
            border-left: none;
            font-size: 34px;
            background-color: #c3841f69;
            color: rgb(255, 252, 229);
        }

        .bp-cover-rating-container{

            float: left;

            .bp-cover{

                display: flex;
                margin-left: 5%;

                .bp-cover-img{
                    border: 3px solid rgb(25, 117, 25);
                    border-radius: 3px;
                    padding: 10px;
                    background-color: #c3841f69;
                }
            }
            
            .bp-rating{

                margin-top: 1rem;
                margin-left: 3rem;
                .bp-rating-2{
                    font-size: 3rem;
                    margin-left: 5%;
                }
            }
            .bp-edit-btn{
                background-color: forestgreen;
                margin-left: 10rem;
                margin-top: 10px;
            }
        }

        .bp-title-status-desc-container{
            .bp-title-author-status{

                
                .bp-title{
                    margin-left: 3%;
                    margin-right: 2%;
                    margin-top: 1rem;

                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 600;
                    float: left;
                }
                .bp-status{
                    margin-bottom: 10px;
                }
                .bp-author{
                    padding-left: 23%;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 600;
                }
            }
            .bp-desc{
                border: 3px solid rgb(25, 117, 25);
                background-color: #c3841f15;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 24px;
                margin-left: 22%;
                margin-top: 3%;
                margin-right: 4%;
                padding: 25px;
                max-height: 18rem;
                min-height: 18rem;

                overflow-y: auto;
            }
        }

    }


    .bp-bottom{
        margin-top: 8rem;

        .bp-reviews{
            .bp-r-header{
                margin-top: 100px;
                padding-left: 6%;
                display: flex;
                border: 2px solid forestgreen;
                border-radius: 3px;
                background-color: #ff9d0033;
                color: rgb(199, 141, 33);
                font-size: 60px;
                font-weight: 600;
                padding-bottom: 10px;

                .bp-write{
                    .bp-write-btn{
                        justify-content: right;
                        margin-left: 1350px;
                        margin-bottom: 10px;
                        background-color: rgb(199, 132, 7);
    
                    }
                }

                
            }


            .r-list-div{

                .r-list{
                    padding-left: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;
                    flex-flow: row wrap;
                    
                    .r-list-item{
                        color: rgb(173, 116, 10);
                        margin-bottom: 20px;
                        .r-username{
                            font-style: italic;
                            margin-left: 70px;
                            margin-top: 5px;
                            text-decoration: none;
                            color: rgb(173, 116, 10);
                        }
                        .r-username:hover{
                            transition: 0.25s;
                            color: rgb(110, 74, 6);
                            background-color: rgba(211, 143, 17, 0.151);

                        }
                        .r-inside{
                            border: 2px solid rgba(34, 139, 34, 0.5);
                            border-radius: 5px;
                            margin-right: 10%;
                            margin-left: 10%;
                            padding: 10px 10px 15px 20px;
                            min-width: 650px;
                            max-width: 650px;
                            height: 25px;
                            color: rgb(173, 116, 10);

    
    
                            .r-title{
                                float: left;
                                font-size: 20px;
                                font-weight: 500;
                            }
                            .r-rating{
                                float: right;
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }

                        .r-inside:hover{
                            transition: 0.2s;
                            background-color: rgba(199, 132, 7, 0.253);

                        }
                    }
                }
            }

        }
    }
}
/* =======================================================EDIT BOOK PAGE============================================== */
.ebp-top {

    padding-top: 8%;

    .ebp-cover-rating-container{

        float: left;

        .ebp-cover{

            display: flex;
            margin-left: 5%;

            .ebp-cover-img{
                border: 3px solid rgb(25, 117, 25);
                border-radius: 3px;
                padding: 10px;
                background-color: #c3841f69;
            }
        }
        
        .ebp-rating{

            margin-top: 1rem;
            margin-left: 5%;

            .ebp-rating-2{
                justify-content: center;
                margin-left: 5%;
            }
        }
    }

    .ebp-title-status-desc-container{
        .ebp-title-author-status{

            
            .ebp-title{
                width: 500px;
                margin-left: 3%;
                margin-right: 2%;
                margin-top: 2rem;

                font-family: 'Courier New', Courier, monospace;
                font-weight: 600;
                float: left;
            }

            .ebp-author{
                margin-top: 2rem;

                font-family: 'Courier New', Courier, monospace;
                font-weight: 600;
            }
        }
        .ebp-desc{
            border: 3px solid rgb(25, 117, 25);
            background-color: #c3841f15;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 24px;
            margin-left: 3%;
            margin-top: 3%;
            margin-right: 4%;
            padding: 25px;
            width: 1000px;
            max-height: 18rem;
            min-height: 18rem;

            overflow-y: auto;
        }
    }

}

.ebp-button-section{
    margin-top: 5rem;
    .edp-img{
        margin-left: 7rem;
        .edp-img-btn{
            background-color: rgba(34, 139, 139, 0.856);
        }
    }
    .edp-submit{
        margin-left: 8.5rem;
        margin-top: 5rem;
        .edp-sub-btn{
            width: 100px;
            background-color: rgba(34, 139, 34, 0.856);
        }
        .edp-del-btn{
            margin-right: 5rem;
            float: right;
            width: 100px;
        }
    }
}
