 .navbar-container {
    position: fixed;
    background-color: rgb(138, 155, 62);
    width: 100%;
    display: flex;
    height: 65px;

  }

.navbar-left {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: flex;
    list-style: none;
    float: left;
    text-align: center;
}

.nav-icon{
  margin: 0;
  padding: 0;
  display: inline;
  margin-left: 22%;
  
  .title{
    margin-top: 10px;
    font-size: 27px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffcc7a;

  }
}


.navbar-right{
  margin: 0;
    padding: 0;
    margin-top: 5px;
  list-style: none;
  margin-left: 88rem;
}
.navbar-item {
  list-style-type: none;
  color: var(--offWhite);
}

.navbar-item-left{
  padding-left: 12%;
}

.navbar-item-right{
  padding-right: 10%;
}

.navbar-link {
  text-decoration: none;
  font-size: x-large;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 500;
  }
  
  .search-icon{
    color: white;
  }

  /*
  .navbar-logout {
    margin-left: auto;
  }
  
  .navbar-link:hover {
    color: var(--primary);
  } */

  .link{
    color: black;
    text-decoration: none;
  }