.auth-container {
    padding-top: 13rem;
    border-radius: 1rem;
  }
  
  .header {
    font-size: 3rem;
    border: 3px solid #000000a1;
    border-radius: 3px;
    background-color: #c3841f70;
    padding: 10px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-link {
    text-align: center;
  }
  
  .auth-fieldset {
    margin: 0.25rem 0rem;
  }
  
  .signin-btn {
    color: forestgreen;
    border-color: forestgreen;
  }

  .signin-btn:hover {
    color: forestgreen;
    border-color: forestgreen;
    background-color: rgba(34, 139, 34, 0.13);
  }